In [48]:
from pipeline import Pipeline
from utils import load_ndjon, create_data_report
import os
from db.models import AirQualityParameter
import pandas as pd
from db.engine import init_db
from operations.countries import create_country, CountryCreateData, read_all_countries
from pandas_profiling import ProfileReport

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [49]:

# DB_FILE = "sqlite:///air_quality.db"
# init_db(DB_FILE)

# Creating the country

In [50]:
# countries_df = pd.read_csv('raw_data/countries.csv')
# for country in countries_df.to_dict('records'):
#     country_data = CountryCreateData(name = country[' country_name'], code=country['country_code'])
#     create_country(country_data)

In [51]:

data_path = os.path.join('raw_data', 'air_quality')


data = []
for filename in os.listdir(data_path):
    data.extend(load_ndjon(os.path.join(data_path, filename)))

In [52]:
air_quality_data = Pipeline(data)
air_quality_data.preprocess()
test_df = air_quality_data.df

In [53]:
test_df

,parameter,city,date_utc,value,aqi_value,category
0,pm10,Amsterdam,2021-10-06 14:00:00+00:00,9.0250,8.356481,good
1,pm10,Amsterdam,2021-10-06 17:00:00+00:00,17.4875,16.192130,good
2,pm10,Armagh,2021-10-06 13:00:00+00:00,12.0000,11.111111,good
3,pm10,Armagh,2021-10-06 14:00:00+00:00,12.0000,11.111111,good
4,pm10,Armagh,2021-10-06 16:00:00+00:00,12.0000,11.111111,good
...,...,...,...,...,...,...
666,pm25,Yorkshire & Humberside,2021-10-06 16:00:00+00:00,5.0000,20.833333,good
667,pm25,Yorkshire & Humberside,2021-10-06 17:00:00+00:00,5.0000,20.833333,good
668,pm25,Yorkshire & Humberside,2021-10-06 18:00:00+00:00,6.0000,25.000000,good
669,pm25,Zaandam,2021-10-06 14:00:00+00:00,3.7000,15.416667,good
670,pm25,Zaandam,2021-10-06 17:00:00+00:00,6.7000,27.916667,good

In [54]:
# for parameter in AirQualityParameter.to_list():
#     create_data_report(air_quality_data.filter_by_parameter(parameter), title=parameter)

In [55]:
# from utils import calculate_aqi, PM10_CATEGORIES, PM25_CATEGORIES, find_category

# parameter_dict_mapping = {
#     AirQualityParameter.PM25.value: PM25_CATEGORIES,
#     AirQualityParameter.PM10.value: PM10_CATEGORIES
# }

# def calculate_aqi_column(row):
#     return calculate_aqi(row['value'], parameter_dict_mapping[row['parameter']])

# def calculate_category_column(row):
#     return find_category(row['value'], parameter_dict_mapping[row['parameter']])

# test_df['aqi_value'] = test_df.apply(calculate_aqi_column, axis=1)
# test_df['category'] = test_df.apply(calculate_category_column, axis=1)
# test_df

In [56]:
test_df.head()

  parameter       city                  date_utc    value  aqi_value category
0      pm10  Amsterdam 2021-10-06 14:00:00+00:00   9.0250   8.356481     good
1      pm10  Amsterdam 2021-10-06 17:00:00+00:00  17.4875  16.192130     good
2      pm10     Armagh 2021-10-06 13:00:00+00:00  12.0000  11.111111     good
3      pm10     Armagh 2021-10-06 14:00:00+00:00  12.0000  11.111111     good
4      pm10     Armagh 2021-10-06 16:00:00+00:00  12.0000  11.111111     good